<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SisPms</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body onload="CarregarUsuarioLogado()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="~/images/LogoPrefeitura.png" width="30" height="30" alt="">
        </a>
        <a asp-area="" asp-controller="SetorPessoal" asp-action="Index" class="navbar-brand">SisPms</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Colaborador" asp-action="Index">Colaborador<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="TipoSetor" asp-action="Index">Tipo Setor<span class="sr-only">(current)</span></a>
                        <a class="dropdown-item" asp-area="" asp-controller="Setor" asp-action="Index">Setor<span class="sr-only">(current)</span></a>

                        <a class="dropdown-item" asp-area="" asp-controller="Cargo" asp-action="Index">Cargo <span class="sr-only">(current)</span></a>
                        <a class="dropdown-item" asp-area="" asp-controller="Ocorrencia" asp-action="Index">Ocorrência <span class="sr-only">(current)</span></a>
                        <a class="dropdown-item" asp-area="" asp-controller="PrestadoraServico" asp-action="Index">Prestadora de Serviço <span class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Colaborador" asp-action="HistoricoColaborador">Encaminhamentos <span class="sr-only">(current)</span></a>
                    </div>
                </li>
            </ul>
            @using Microsoft.AspNetCore.Http;
            @inject IHttpContextAccessor HttpContextAccessor

            <div id="NomeUsuarioLogado"></div>


        </div>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="" asp-action="">Home</a></li>
        </ol>
    </nav>
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()

    </div>
    <hr />
    <footer>
        <p class="h6">@ViewBag.Error</p>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        function CarregarUsuarioLogado() {
            var nome = '@HttpContextAccessor.HttpContext.Session.GetString("NomeUsuarioLogado")'
             var setor = '@HttpContextAccessor.HttpContext.Session.GetString("IdSetorUsuarioLogado")'
            if (nome != "") {
                var divNome = document.getElementById("NomeUsuarioLogado");
                divNome.innerHTML = "Olá " + nome  + " <a href='../Usuario/Index/0'>(Sair)</a>";
                divNome.style = "color:black; text-align: right; height:50px; padding-top:13px;"
            }
            else {
                window.location = "../Usuario/Index"
            }
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
