@model Manutencao

@{
    ViewData["Title"] = "ListarManutencao";
    Layout = "~/Views/Shared/_LayoutManutencao.cshtml";
}




<h2 class="text-center text-info">Filtro Setor/Status</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idManutencao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeSe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeItem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Os)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Manutencao>)ViewBag.FiltrarManutencaoPorSetorPorStatus)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idManutencao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeSe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Os)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>


<script>
    function NovoRegistro() {
        window.location.href = "../Manutencao/Create";
    }
</script>
