@model Manutencao
@{
    ViewData["Title"] = "ListarManutencao";
    Layout = "~/Views/Shared/_LayoutManutencao.cshtml";
}

<h2 class="text-center text-info">Manutencao</h2>
<hr />
<p>
    @*<a class="btn btn-default" asp-action="Create">Novo Registro</a>*@
    <button class="btn btn-primary" onclick="NovoRegistro()">Novo Registro</button>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idManutencao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Situacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeSe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeItem)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Manutencao>)ViewBag.ListaManutencao)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idManutencao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeSe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeItem)
                </td>
                <td>
                    @Html.ActionLink("Solicitar Reparo", "Edit", new { id = item.idManutencao }, new { @class = "btn btn-dark" }) 
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>


<script>
    function NovoRegistro() {
        window.location.href = "../Manutencao/Create";
    }
</script>

