@model CartaEncaminhamento
@{
    ViewData["Title"] = "CartaEncaminhamento";
    Layout = "~/Views/Shared/_LayoutSp.cshtml";
}


<h1>@ViewBag.idColaborador</h1>
<ul class="nav justify-content-end">
    <li class="nav-item">
        <button class="btn btn-labeled btn-warning mb-2" onclick="cont();" type="button">Imprimir</button>
    </li>
</ul>
<div id="print" class="conteudo">
    <page size="A4">


        <style type="text/css">
            .tg {
                border-collapse: collapse;
                border-spacing: 0;
                border-color: #ccc;
                width: 100%;
            }

                .tg td {
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    padding: 10px 5px;
                    border-style: solid;
                    border-width: 1px;
                    overflow: hidden;
                    word-break: normal;
                    border-color: #ccc;
                    color: #333;
                    background-color: #fff;
                }

                .tg th {
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    padding: 10px 5px;
                    border-style: solid;
                    border-width: 1px;
                    overflow: hidden;
                    word-break: normal;
                    border-color: #ccc;
                    color: #333;
                    background-color: #f0f0f0;
                }

                .tg .tg-buh4 {
                    background-color: #f9f9f9;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-mjvq {
                    font-family: Impact, Charcoal, sans-serif !important;
                    ;
                    border-color: inherit;
                    text-align: center;
                    vertical-align: top
                }

                .tg .tg-0lax {
                    text-align: left;
                    vertical-align: top
                }
            }
        </style>
        <table class="tg">
            <tr>
                <th class="tg-mjvq" colspan="6"><img class="img-fluid" width="100px" height="15px" src="~/Content/Images/logo_prefeitura.png" alt="App Logo"></th>
            </tr>
            <tr>
                <th class="tg-mjvq" colspan="6"><h2>Carta de Encaminhamento</h2></th>
            </tr>
            <tr>
                <td class="tg-hmp3" colspan="6">Nome:</td>
            </tr>
            <tr>
                <td class="tg-0lax" colspan="6">@ViewBag.nomeTer</td>
            </tr>
            <tr>
                <td class="tg-hmp3" colspan="3">Cpf:</td>
                <td class="tg-hmp3" colspan="3">Telefone:</td>
            </tr>
            <tr>
                <td class="tg-0lax" colspan="3">@ViewBag.cpfTer</td>
                <td class="tg-0lax" colspan="3">@ViewBag.telTEr</td>
            </tr>
            <tr>
                <td class="tg-hmp3" colspan="3">Empresa:</td>
                <td class="tg-hmp3" colspan="3">Cargo:</td>
            </tr>
            <tr>
                <td class="tg-0lax" colspan="3">@ViewBag.NomeEmp</td>
                <td class="tg-0lax" colspan="3">@ViewBag.NomeCargo</td>
            </tr>
            <tr>
                <td class="tg-hmp3" colspan="6">Unidade:</td>
            </tr>
            <tr>
                <td class="tg-0lax" colspan="6">@ViewBag.NomeLotacao</td>
            </tr>

            <tr>
                <td height="100px" class="tg-0lax" colspan="6">
                    <center>
                        <br />
                        ___________________________________________________________________________
                        <br />
                        Responsavel do Setor:<br /> (@ViewBag.Responsavel):
                    </center>
                </td>
            </tr>
            <tr>

                <td height="400px" valign="bottom" colspan="6">

                    <center> @ViewBag.endEscola - @ViewBag.Bairro</center><br />
                    <center><h5>@ViewBag.Obs</h5> </center>
                </td>
            </tr>
        </table>


    </page>
</div>



<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdColaborador)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<CartaEncaminhamento>)ViewBag.ListaEncaminhamento)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdColaborador)
                </td>
                <td>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>


<link href="~/css/a4.css" rel="stylesheet" />

<script>
    function cont() {
        var conteudo = document.getElementById('print').innerHTML;
        tela_impressao = window.open('about:blank');
        tela_impressao.document.write(conteudo);
        tela_impressao.window.print();
        tela_impressao.window.close();
    }
</script>