
@{
    ViewData["Title"] = "Carta de Encaminhamento";
    Layout = "~/Views/Shared/_LayoutSp.cshtml";
}

<div class="content-heading">
    <div>
        <button class="mb-1 btn btn-secondary" type="button">@Html.ActionLink("Voltar", "OperacoesTerceirizado")</button>
    </div>
    <div class="btn-group ml-auto">
        <button class="btn btn-labeled btn-info mb-2" onclick="cont();" type="button">
            <span class="btn-label">
                <i class="fa fa-print"></i>
            </span>Imprimir
        </button>
    </div>
</div>

<div id="print" class="conteudo">
    <page size="A4">


        <style type="text/css">
            .tg {
                border-collapse: collapse;
                border-spacing: 0;
                border-color: #ccc;
                width: 100%;
            }

                .tg td {
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    padding: 10px 5px;
                    border-style: solid;
                    border-width: 1px;
                    overflow: hidden;
                    word-break: normal;
                    border-color: #ccc;
                    color: #333;
                    background-color: #fff;
                }

                .tg th {
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    padding: 10px 5px;
                    border-style: solid;
                    border-width: 1px;
                    overflow: hidden;
                    word-break: normal;
                    border-color: #ccc;
                    color: #333;
                    background-color: #f0f0f0;
                }

                .tg .tg-buh4 {
                    background-color: #f9f9f9;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-mjvq {
                    font-family: Impact, Charcoal, sans-serif !important;
                    ;
                    border-color: inherit;
                    text-align: center;
                    vertical-align: top
                }

                .tg .tg-0lax {
                    text-align: left;
                    vertical-align: top
                }
            }
        </style>
        <table class="tg">
            <tr>
                <th class="tg-mjvq" colspan="6"><img class="img-fluid" width="100px" height="15px" src="~/Content/Images/logo_prefeitura.png" alt="App Logo"></th>
            </tr>
            <tr>
                <th class="tg-mjvq" colspan="6"><h2>Carta de Encaminhamento</h2></th>
            </tr>
            <tr>
                <td class="tg-hmp3" colspan="6" style="font-weight:bold">Nome:</td>
            </tr>
            <tr>
                <td class="tg-0lax" colspan="6">@ViewBag.NomeCol</td>
            </tr>
            <tr>
                <td class="tg-hmp3" colspan="3"style="font-weight:bold">Cpf:</td>
                <td class="tg-hmp3" colspan="3"style="font-weight:bold">Telefone:</td>
            </tr>
            <tr>
                <td class="tg-0lax" colspan="3">@ViewBag.CpfCol</td>
                <td class="tg-0lax" colspan="3">@ViewBag.TelefoneCol</td>
            </tr>
            <tr>
                <td class="tg-hmp3" colspan="3"style="font-weight:bold">Empresa:</td>
                <td class="tg-hmp3" colspan="3"style="font-weight:bold">Cargo:</td>
            </tr>
            <tr>
                <td class="tg-0lax" colspan="3">@ViewBag.RazaoSocial</td>
                <td class="tg-0lax" colspan="3">@ViewBag.NomeCargo</td>
            </tr>
            <tr>
                <td class="tg-hmp3" colspan="6"style="font-weight:bold">Unidade:</td>
            </tr>
            <tr>
                <td class="tg-0lax" colspan="6">@ViewBag.SetorSe</td>
            </tr>

            <tr>
                <td height="100px" class="tg-0lax" colspan="6"style="font-weight:bold">
                    <center>
                        <br />
                        ___________________________________________________________________________
                        <br />
                        Responsavel do Setor:<br /> (@ViewBag.GestorSe):
                    </center>
                </td>
            </tr>
            <tr>

                <td height="400px" valign="bottom" colspan="6">

                    <center> @ViewBag.endEscola - @ViewBag.Bairro</center><br />
                    <center><h5>@ViewBag.Obs</h5> </center>
                </td>
            </tr>
        </table>


    </page>
</div>
<link href="~/css/a4.css" rel="stylesheet" />

<script>
    function cont() {
        var conteudo = document.getElementById('print').innerHTML;
        tela_impressao = window.open('about:blank');
        tela_impressao.document.write(conteudo);
        tela_impressao.window.print();
        tela_impressao.window.close();
    }
</script>

