@model Cargo
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSp.cshtml";
}

<h2 class="text-center text-info">Cargo</h2>
<hr />
<p>
    @*<a class="btn btn-default" asp-action="Create">Novo Registro</a>*@
    <button class="btn btn-primary" onclick="NovoRegistro()">Novo Registro</button>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idCargo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Cargo>)ViewBag.ListaCargo)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idCargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idCargo }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.idCargo }, new { @class = "btn btn-secondary" }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.idCargo }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    function NovoRegistro() {
        window.location.href = "../Cargo/Create";
    }
</script>

